body{
    background: #f5f5f5;
}
.login-col {
    padding: 0 0 30px 0;
    border: 1px #ccc solid;
    background: #fff;
}
.login-col > .title{
    font-size: 16px;
    padding-top: 20px;
    font-weight: bold;
}

#login{
    margin-top: 60px;
}

#regform{
    padding: 20px 40px 0 40px;
}

#regform  > form > div > input.btn{
    height: 40px;
    line-height: 100%;
    font-size: 16px;
}
#regform  > form > div > input.btn{
    margin-top: 14px;
}
