.container h2{
    color: #013155;
    font-weight: bold;
}
.container .time{
    color: #888;
}
.container .content{
    font-family: "微软雅黑",sans-serif;
    font-size: 12pt;
    text-indent: 2em;
    line-height: 200%;
}
.author{
    margin-right: 20px;
}